@{
  Layout = "_Layout";
}

<div class = "container">
  <div class = "row">
    <div class="col-md-12" id="resultCol">
      <form id="updateForm" action="/User/Update/@ViewBag.sessionId" method="post">
        <h1>Greetings, @Model.GetName() </h1>
        <h3>Username: @Model.GetLogin() </h3>
        <input type="hidden" name="username" value="@Model.GetLogin()" id="username">
        <h3>Name: @Model.GetName() <button type="button" class="btn updateButton"><span class="glyphicon glyphicon-cog"></span></button> </h3>
        <div class="form-group initHidden" id="nameGroup">
          <label for="nameInput">Name:</label>
          <input type="text" name="nameInput" id="nameInput" value="@Model.GetName()">
        </div>
        <hr>
        <h3>Address: @Model.GetAddress() <button type="button" class="btn updateButton"><span class="glyphicon glyphicon-cog"></span></button></h3>
        <div class="form-group initHidden" id="addressGroup">
          <label for="addressInput">Address:</label>
          <input type="text" name="addressInput" id="addressInput" value="@Model.GetAddress()">
        </div>
        <hr>
        <h3>E-mail: @Model.GetEmail() <button type="button" class="btn updateButton"><span class="glyphicon glyphicon-cog"></span></button></h3>
        <div class="form-group initHidden" id="emailGroup">
          <label for="emailInput">E-mail:</label>
          <input type="text" name="emailInput" id="emailInput" value="@Model.GetEmail()">
        </div>
      </hr>
        <button type="submit" class="btn initHidden" id="update"> Update </button>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">

  function isAnyButtonVisible(index){
    var updateButtons = $(".updateButton");
    var flag = false;
    $(".form-group").each(function(){
      if(!$(this).hasClass("hidden")){
        flag = true;
      };
    });
    return flag;
  };

  $(document).ready(function(){
    $(".initHidden").toggleClass("hidden");
    $(".updateButton").click(function(){
        var index = $(".updateButton").index(this);
        $(".form-group:eq(" + index + ")").toggleClass("hidden");
        $("#update").addClass("hidden");
        if (isAnyButtonVisible(index)){
          $("#update").removeClass("hidden");
        };
    });


  });
</script>

<style type="text/css">
  .updateButton {
    float: right;
  }
  #resultCol{
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 10px black inset;
    border: 2px solid #ffb444;
  }

  .form-group {
    background-color: #fff6ef;
    padding: 10px;
  }
  label {
    margin-bottom: 20px;
  }
  hr {
    opacity: .2;
  }
</style>
